<!DOCTYPE html>
<html>
<head>
 TweetME
</head>

<body>
<form action="/action_page.php">
  tweet message: <input type="text" name="fname"><br>
  get tweets: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>

    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> post a tweet</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> get list of tweets</a>

</body>
</html>
